{% if page.cover %}
{% assign cover = page.cover %}
{% elsif site.cover %}
{% assign cover = site.cover %}
{% endif %}

<link rel="stylesheet" type="text/css" href="css/grid-gallery.min.css" />
<link rel="stylesheet" type="text/css" href="css/misc.css" />

<div class="container">

    <div class="gg-container">
        <div class="photos gg-box" id="main">

        </div>
    </div>

    <footer id="footer" class="panel"></footer>


    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
    </div>


</div>

<a id="loaderButton" class="page-link loadMorePhotosButton">Load More Photos...</a>

<script type="text/javascript" src="/js/grid-gallery-custom.js"></script>
<script type="text/javascript" src="/js/grid-gallery-style.js"></script>
<script src="/js/infinite_scroll_photos.js"></script>

<!--<a id="loaderButton" class="page-link loadMorePhotosButton">Load More Photos...</a>-->