{% if page.cover %}
{% assign cover = page.cover %}
{% elsif site.cover %}
{% assign cover = site.cover %}
{% endif %}

<link rel="stylesheet" type="text/css" href="css/grid-gallery.min.css"/>

<div class="container">

    <h1>Photos!</h1>

    <div class="gg-container">
        <!--<div id="gg-screen">
            <div class="gg-image"></div>
            <div class="gg-close gg-bt">×</div>
            <div class="gg-next gg-bt">→</div>
            <div class="gg-prev gg-bt">←</div>
        </div>-->
        <div class="photos gg-box" id="main">

        </div>
    </div>

    <footer id="footer" class="panel"></footer>

    
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
    </div>

    
</div>


<script type="text/javascript" src="/js/grid-gallery-custom.js"></script>
<script type="text/javascript" src="/js/grid-gallery-style.js"></script>
<script src="/js/infinite_scroll_photos.js"></script>

<a id="loaderButton" class="page-link">LoadMorePhotos</a>
